body{background-color: #b3ccff;}

.mySlides{display:none};
.demo{cursor:pointer};

h1,h2{color: white;
}
h1{text-align: left;}
h2{text-align: left;}
h3{color: #ff66d9;}

.introduction{font-family: david;
font-size: 20px;
text-align: lefft;
}

.history{font-family: david;
font-size: 20px;
text-align: lefft;
}

figure{border: 3px dotted #b366ff;
}

#map{position:relative;
float: right;
}