
.title {
    color: dimgray;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
}

p {
    
    color: dimgray;
    text-align: left;
    font-family: "Comic Sans MS", cursive;
}
    


