body{background-color: white;}

h1{color: black;
text-align: center;
}

p{font-family: david;
font-size: 20px;
text-align: center;
}

img {
    width: 30%;
    height: 30%;
	padding-left: 35%;
	padding-right: 35%;
}

	