body{background-image: url("../images/shutterstock_clocktower-1168x657.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
}

h1{color: black;
text-align: center;
}

p{font-family: david;
font-size: 20px;
text-align: center;
}

img {
    width: 30%;
    height: 30%;
	padding-left: 35%;
	padding-right: 35%;
}
	